/* Universal Styles */

html {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 2rem;
  background-color: lightgrey;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 3rem;
}

nav ul {
  display: flex;
  font-size: 1.5rem;
}

nav ul li {
  margin-left: 1rem;
}

.mobile-navbar {
  display: none;
}


@media only screen and (max-width: 425px) {
  .mobile-header {
    display: block;
  }
  
  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }

  .mobile-navbar a img {
    height: 2.5rem;
  }

  .desktop-navbar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  .logo-img {
    height: 2.5rem;
  }
  
  nav ul {
    font-size: 1rem;
  }
}

/* Sign up Section */

/* Actualities Section */

/* Study Fields Section */

/* Thesis Exhibit Section */

/* Footer */
