/* Universal Styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 2rem;
  background-color: white;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 3rem;
}

nav ul {
  display: flex;
  font-size: 1.5rem;
}

nav ul li {
  margin-left: 1rem;
}

.mobile-navbar {
  display: none;
}

@media only screen and (max-width: 550px) {
  .mobile-header {
    display: block;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }

  .mobile-navbar a img {
    height: 2.5rem;
  }

  .desktop-navbar {
    display: none;
  }
}

@media only screen and (min-width: 550px) and (max-width: 845px) {
  header {
    font-size: 1.5rem;
  }

  .logo-img {
    height: 2.5rem;
  }

  nav ul {
    font-size: 1rem;
  }
}

/* Sign up Section */
#sign-up-section {
  background-color: lightgray;
  display: flex;
}

/* the wireframe design is not accurate so in the text-contatiner you have to improvise */

#sign-up-section .banner {
  width: 60%;
  padding: 2rem 1.5rem;
}

#sign-up-section .banner img {
  width: 100%;
}

#sign-up-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-right: 4rem;
}

#sign-up-section .text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#sign-up-section .text-container p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#sign-up-section .text-container div {
  text-align: center;
  background-color: darkgray;
  padding: 0.5rem 0;
}

#sign-up-section .text-container a {
  font-size: 1.25rem;
}

@media only screen and (max-width: 752px) {
  #sign-up-section {
    display: block;
  }

  #sign-up-section .banner {
    width: 100%;
    padding: 0;
  }

  #sign-up-section .text-container {
    width: auto;
    padding: 2rem 1rem;
  }
}

/* Actualities Section */
#actualities-section .containers-mobile {
  display: none;
}

#actualities-section {
  display: flex;
}

/* big container */

#actualities-section .big-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

#actualities-section .big-container img {
  width: 100%;
  margin-bottom: 2rem;
}

#actualities-section .big-container .text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

#actualities-section .big-container .text-container .lorem-ipsum {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#actualities-section .big-container .text-container p {
  font-size: 1.25rem;
}

/* small containers */

#actualities-section .small-containers {
  width: 40%;
  padding-top: 1rem;
}

#actualities-section .small-containers .small-container {
  display: flex;
  padding: 1rem;
}

#actualities-section .small-containers .text-container {
  width: 65%;
  padding-left: 1.5rem;
  margin: auto 0;
}

#actualities-section .small-containers .image {
  width: 35%;
}

#actualities-section .small-containers .image img {
  width: 100%;
  height: auto;
}

#actualities-section .small-containers h1,
#actualities-section .containers-mobile h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

#actualities-section .small-containers p,
#actualities-section .containers-mobile p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

#actualities-section .small-containers a,
#actualities-section .containers-mobile a {
  font-size: 1.25rem;
  color: blue;
}

.date,
.lecture {
  background-color: gray;
}

@media only screen and (max-width: 752px) {
  #actualities-section .containers-mobile {
    display: block;
    width: 100%;
  }

  #actualities-section .big-container {
    display: none;
  }

  #actualities-section .small-containers {
    display: none;
  }

  #actualities-section .containers-mobile img {
    width: 100%;
  }

  #actualities-section .containers-mobile .container {
    padding: 1rem 1rem 2rem 1rem;
  }

  #actualities-section .containers-mobile .text-container {
    padding: 0 1rem;
    margin-top: 2rem;
  }
}

/* Study Fields Section */
#fields-section {
  padding: 2rem 4.5rem;
  background-color: lightgray;
}

#fields-section h1 {
  text-align: center;
  font-size: 2.5rem;
}

#fields-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 2rem;
}

#fields-boxes .box {
  background-color: white;
}

#fields-boxes .box .image img {
  width: 100%;
  height: auto;
}

#fields-boxes .box .text-container {
  padding: 1rem;
  width: 100%;
}

#fields-boxes .box h2 {
  font-size: 2rem;
}

#fields-boxes .box p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 752px) {
  #fields-boxes .mobile {
    display: none;
  }

  #fields-section {
    padding: 2rem;
  }

  #fields-boxes {
    display: block;
    margin-top: 1rem;
  }

  #fields-boxes .box {
    margin-bottom: 0.5rem;
  }
}

/* Thesis Exhibit Section */
#thesis-exhibit-section {
  padding: 2rem 0;
}

#thesis-exhibit-section .content {
  display: flex;
}

#thesis-exhibit-section h1 {
  font-size: 2.5rem;
  text-align: center;
}

#thesis-exhibit-section .left-box {
  width: 60%;
  padding: 2rem 1.5rem 0 1.5rem;
  display: inline-block;
}

#thesis-exhibit-section .video-box {
  width: 100%;
}

#thesis-exhibit-section .video-box video {
  width: 100%;
}

#thesis-exhibit-section .left-box .text-container h2 {
  margin: 1.5rem 0 0.5rem 0;
  font-size: 2.5rem;
}

#thesis-exhibit-section .left-box .text-container p {
  font-size: 1.5rem;
}

#thesis-exhibit-section .right-boxes {
  display: inline-block;
  width: 40%;
  margin-top: 1rem;
}

#thesis-exhibit-section .right-boxes .box {
  display: flex;
}

#thesis-exhibit-section .right-boxes .box .image {
  width: 35%;
  margin: 1rem;
}

#thesis-exhibit-section .right-boxes .color {
  background-color: lightgray;
}

#thesis-exhibit-section .right-boxes .box img {
  width: 100%;
  height: auto;
}

#thesis-exhibit-section .right-boxes .text-container {
  width: 65%;
  margin: auto 0;
}

#thesis-exhibit-section .right-boxes .text-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#thesis-exhibit-section .right-boxes .text-container p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 752px) {
  #thesis-exhibit-section .mobile {
    display: none;
  }

  #thesis-exhibit-section {
    padding: 2rem 0 1.5rem 0;
  }

  #thesis-exhibit-section .left-box {
    width: 100%;
    padding: 1rem 0 0 0;
  }
}

/* Footer */

footer {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 752px) {
  footer {
    font-size: 0.75rem;
    text-align: center;
  }

  footer .right {
    display: none;
  }
}
